<div class="user-info-container" *ngIf="userData; else noUserData">
    <h2>Данные пользователя</h2>
    <p><strong>Фамилия:</strong> {{ userData.surname }}</p>
    <p><strong>Имя:</strong> {{ userData.name }}</p>
    <p><strong>Email:</strong> {{ userData.userEmail }}</p>
    <p><strong>Телефон:</strong> {{ userData.phone }}</p>
    <p><strong>Дата рождения:</strong> {{ userData.date }}</p>
    <p><strong>Пол:</strong> {{ userData.gender }}</p>
    <p><strong>Город проживания:</strong> {{ userData.city }}</p>
    <p><strong>Дополнительная информация:</strong> {{ userData.extrainfo }}</p>
    <button (click)="logout()">Выход</button>
</div>

<ng-template #noUserData>
    <p>Пользователь не найден. Пожалуйста, войдите в систему.</p>
</ng-template>